<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h3>All Items On <%= @items.first.list.list_name %></h3>
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Item</th>
            <th>List</th>
            <th>Owner</th>
            <th>Due Date</th>
            <th>Done?</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item["id"] %></td>
              <td><%= item["item"] %></td>
              <td><%= item.list.list_name %></td>
              <td><%= item.user.name %></td>
              <td><%= item["i_due_date"] %></td>
              <td><%= item["i_done"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <div class="well">
        <form action="/items/<%= @current_user.name.downcase%>" method="GET">
          <button class="btn btn-primary">UNFINISHED ITEMS</button>
        </form>
      </div>
    </div>
  </body>
</html>